{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/ingredients/ingredient-detail.css' %}"
/>
{% endblock %} {% block content %}

<div class="card">
  <div class="card-bg"></div>
  <div class="card-content">
    <h2>{{ ingredient.name }}</h2>
    <p>{{ ingredient.get_category_display }}</p>
  </div>
</div>
<a href="{% url 'ingredients_update' ingredient.id %}" class="btn warn">Edit</a>
<a href="{% url 'ingredients_delete' ingredient.id %}" class="btn danger"
  >Delete</a
>

{% endblock %}
