{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/recipes/recipe-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Recipe List</h1>
  <img src="{% static 'images/recipe1.png' %}" alt="A cool cat" />
  <img src="{% static 'images/recipe2.png' %}" alt="A happy cat" />
  <img src="{% static 'images/recipe3.png' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/recipe4.png' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for recipe in recipes %}
  <div class="card">
    <a href="{% url 'recipes_detail' recipe.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            style="width: 100%"
            src="{% static 'images/meal.png' %}"
            alt="A skater boy cat"
          />
        </div>
        <h2 class="card-title">{{ recipe.name }}</h2>

        <p>A {{ recipe.cuisine }} cuisine</p>

        <p><small>{{ recipe.description }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
